.features-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.feature {
  flex: 1;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: flex 0.5s ease;
  cursor: pointer;
  position: relative;
  text-align: center;
}

.feature-content {
    width: 100%;
    height: 100vh;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 1.2rem;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 5px;
}

.feature.active {
  flex: 3;
}
.feature.active .feature-content {
    height: 20vh;
    align-self: flex-end;
  writing-mode: horizontal-tb;
  transform: rotate(0deg);
  font-size: 1.2rem;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 5px;
}
.feature:nth-child(1) {
  background-image: url("../assets/amenidades5.webp");
  background-size: cover;
  background-position: center;
}
.feature:nth-child(2) {
  background-image: url("../assets/amenidades2.webp");
  background-size: cover;
  background-position: center;
}
.feature:nth-child(3) {
  background-image: url("../assets/amenidades3.webp");
  background-size: cover;
  background-position: center;
}
.feature:nth-child(4) {
  background-image: url("../assets/amenidades4.webp");
  background-size: cover;
  background-position: center;
}
.feature:nth-child(5) {
  background-image: url("../assets/amenidades1.webp");
  background-size: cover;
  background-position: center;
}
