#amenidades {
  height: 60vh;
  position: relative;
}

.swiper,
.swiper-wrapper,
.swiper-slide {
  height: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature {
  flex: 1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.features-container {
  display: none;
}

.feature-content {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  padding-left: 2rem;
  align-items: center;
  background-color: rgba(0, 76, 69, 1);
}
.feature{
    display: flex;
    align-items: end;
}
.feature img{
    padding-left: 2rem;
    object-fit: cover;
    width: 8rem;
    height: 1rem;
}
.feature p{
    max-width: 40%;
    width: fit-content;
}
@media screen and (min-width: 768px) {
  #amenidades .swiper {
    display: none;
  }
  .feature-content {
  font-size: 2rem;
  font-family: 'lato-bold', sans-serif;
}
  .feature-content2 {
    align-items: center;
    display: flex;
  font-size: 1.5rem;
  font-family: 'lato-bold', sans-serif;
  justify-content: center;
}
.feature img{
    padding-left: 4rem;
    object-fit: cover;
    width: 8rem;
    height: 1rem;
}
  .features-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }

  .feature {
    flex: 1;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: flex 0.5s ease;
    cursor: pointer;
    position: relative;
    text-align: center;
  }

  .feature-content {
    width: 100%;
    height: 100%;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 76, 69, 0.8);
  }

  .feature.active {
    flex: 3;
  }
  .feature .feature-content2 {
    display: none;
  }
  .feature.active .feature-content {
    display: none;
  }

  .feature.active .feature-content2 {
    height: 20%;
    width: 100%;
    display: flex;
    align-self: flex-end;
    background-color: rgba(0, 76, 69, 1);
    padding: 10px;
    border-radius: 5px;
    align-content: center;
  }

  .feature:nth-child(1) {
    background-image: url("../assets/amenidades5.webp");
    background-size: cover;
    background-position: center;
  }

  .feature:nth-child(2) {
    background-image: url("../assets/amenidades2.webp");
    background-size: cover;
    background-position: center;
  }

  .feature:nth-child(3) {
    background-image: url("../assets/amenidades3.webp");
    background-size: cover;
    background-position: center;
  }

  .feature:nth-child(4) {
    background-image: url("../assets/amenidades4.webp");
    background-size: cover;
    background-position: center;
  }

  .feature:nth-child(5) {
    background-image: url("../assets/amenidades1.webp");
    background-size: cover;
    background-position: center;
  }
}
