#cita-virtual-container {
  background-image: url("../assets/cita-virtual-fondo.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 24rem;
}
.function-box {
    width: 60%;
    padding: 2rem;
  background-color: rgba(0, 76, 69, 0.9);
}
#cita-virtual-container .agendar-button {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  width: fit-content;
  background-color: var(--secondary-color);
  color: var(--text-color);
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
#cita-virtual-container p{
    color: white;
    font-size: 2rem;
    margin: 0;
}
#agendar-button2{
  
  border-radius: 0.6rem;
}
#cita-virtual-container a{
    margin: 2rem 0 0 0;
    font-size: 1.5rem;
}
.negritas{
    font-weight: 900;
    text-shadow: 0 0 1px white;
}
@media screen and (min-width: 768px) {
    #cita-virtual-container {
  background-position: bottom;
  padding: 12rem 0;
}
.function-box {
  padding: 4rem;
  width: 35%;
}
#cita-virtual-container .agendar-button {
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
}
}
@media screen and (min-width: 768px) and (min-height: 721px) {
  #cita-virtual-container p{
    font-size: 3rem;
}
#agendar-button2{
    font-size: 2rem !important;
}
}
