header {
  background-image: url("../assets/header-fondo.webp");
  background-size: cover;
  background-position: center;
  display: flex;
}
header .text-container {
  padding: 8rem 0;
  width: 60%;
  background-color: rgba(0, 76, 69, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .title-container {
  margin: 2rem 0;
}
header .title {
  font-size: 2.5rem;
  color: var(--secondary-color);
  text-align: center;
  font-family: "lato-bold", sans-serif !important;
  margin: 0;
}
header #p-lotes {
  font-size: 2.5rem;
  color: white;
  font-family: "lato", sans-serif !important;
}
header #residenciales {
  font-size: 1.5rem;
  margin: 0px;
  text-align: center;
  color: white;
}
header .agendar-button {
  
  border-radius: 0.6rem;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  margin: 2rem;
}
header p,
header h2 {
  margin: 0;
}
header #subtitle {
  font-size: 1rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  color: var(--secondary-color);
}
header #text {
  font-size: 0.8rem;

  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
}
header img {
  width: 350px;
  height: 100px;
}
header .image-container {
  display: none;
}
.lang-container {
  display: flex;
  margin: 20px auto;
}
.lang-container img {
  width: 30px;
  height: 30px;
  padding: 10px 5px;
}
.image-container-mobile img{
  width: 10.5rem;
  height: 3rem;
}
#first-subtitle {
  padding: 1rem 0;
  position: relative;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


.text-container{
  text-align: center;
}
#first-subtitle p{
  padding: 0 2rem;
  font-size: 2.5rem;
  margin: 0;
  font-family: 'Abhaya', sans-serif;
  color: var(--primary-color);
}
.planta{
  display: none;
}
@media screen and (min-width: 768px) {
  #first-subtitle p{
  font-size: 3.5rem;
}
  #first-subtitle{
  padding: 2rem 0;
}
  #header-container{
    min-height: 36rem;
  }
  .planta {
    display: block;
  position: absolute;
  right: 0%;
  bottom: -48%;
  height: 20rem;
  object-fit: contain;
  z-index: 1;
}
  #first-subtitle{
  width: 100%;
  z-index: 10;
  max-height: 8rem;
  
}
  .image-container-mobile {
    display: none;
  }
  .lang-container {
    display: flex;
    margin-top: 10px;
    padding-right: 10px;
  }
  header .text-container {
    width: 40%;
  }
  header .title {
    font-size: 4rem;
  }
  header #p-lotes {
    font-size: 4rem;
  }
  header #residenciales {
    font-size: 2.4rem;
  }
  header #subtitle {
    font-size: 1.4rem;
    flex-direction: row;
  }
  header #text {
    font-size: 1.4rem;
  }
  header .text-container {
    padding: 4rem 0;
  }
  header .image-container {
    width: 60%;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    padding-top: 1.5rem;
    align-items: start;
  }
}
@media screen and (min-width: 768px) and (min-height: 721px) {
  #header-container{
    height: 100vh;
  }
  header .title {
    font-size: 5rem;
  }
  header #p-lotes {
    font-size: 5rem;
  }
  header #residenciales {
    font-size: 3rem;
  }
  header #subtitle {
    font-size: 1.8rem;
    flex-direction: row;
  }
  header #text {
    font-size: 1.8rem;
  }
  #agendar-button{
    font-size: 2rem;
}
.planta {
  bottom: -53%;
  height: 24rem;
  object-fit: contain;
  z-index: 1;
}
}