#lotes-disponibles {
  background-color: rgba(0, 76, 69, 0.9);
  text-align: center;
  color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
#lotes{
  position: relative;
}
#lotes-disponibles .title {
  font-size: 3rem;
  font-weight: 100;
  font-family: "Abhaya", sans-serif;
  padding-top: 1rem;
}
#lotes-disponibles .text-container {
  align-self: center;
  width: 80%;
  padding-bottom: 2rem;
}
#lotes-disponibles .text-container p {
  font-size: 1.2rem;
  margin: 0.8rem 0;
}
#agendar-button3 {
  padding: 0.3rem 1rem;
  width: fit-content;
  height: fit-content;
  font-size: 1.5rem;
  font-weight: 900;
  background-color: var(--secondary-color);
  color: var(--text-color);
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 0.6rem;
}
.button-container p {
  font-size: 1.5rem;
  font-weight: 900;
  padding-bottom: 0.5rem;
  margin: 0;
}
#agendar-button3 p {
  margin: 0 0.5rem 0 0;
  padding-bottom: 0;
}
#lotes-disponibles .button-container {
  align-self: center;
}
.button-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
#agendar-button3 {
  align-self: center;
}
#lotes-disponibles .division-line {
  height: 1px;
  background-color: rgb(255, 255, 255, 0.8);
}
#lotes-disponibles .images-container-mobile {
  display: flex;
  overflow: hidden;
  gap: 0.5rem;
}
#lotes-disponibles .images-container-mobile img {
  display: flex;
  object-fit: cover;
  width: 50%;
  height: 18rem;
}
#lote-image1 {
  object-position: left;
}
#lote-image2 {
  object-position: center;
}
#lotes-center-image{
  display: none;
}
@media screen and (min-width: 768px) {
  #lotes-disponibles .images-container-mobile {
    display: none;
  }
  #lotes-disponibles{
    text-align: left;
    
  }
  #lotes-disponibles .title{
    padding-left: 10%;
  }
  #lotes {
    display: flex;
    flex-direction: row;
    width: 100%;
    
  height: auto;
  align-items: stretch;
  }
  #lotes-disponibles .text-container {
    text-align: left;
    
  }
  #lotes-disponibles .text-container {
    align-self: start;
    padding-left: 10%;
    width: 60%;
}
  #lotes-disponibles .button-container {
    padding-left: 10%;
    align-self: start;
}
#agendar-button3 {
    align-self: start;
}
  #lotes-image{
    background-color: aqua;
  }
  #lotes-disponibles,
  #lotes-image {
    display: flex;
    width: 50%;
  }
  #lote-image3{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #lotes-image {
  height: auto;
}
#lotes-center-image {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto; /* o lo que necesites */
  width: auto;  /* o 100% si quieres */
}

#lote-image4{
  height: 16rem;
  width: 20rem;
  object-fit: cover;
  object-position: center;
  border: 3px solid white;
}
}
@media screen and (min-width: 768px) and (min-height: 721px) {
}
