body{
    padding: 0%;
    margin: 0%;
}
:root {
      --primary-color: rgba(0, 76, 69);
      --secondary-color: rgba(203, 151, 0);
      --text-color: #ffffff;
    }
@font-face {
  font-family: 'lato';
  src: url('../assets/fonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'lato-bold';
  src: url('../assets/fonts/Lato-Bold.ttf') format('truetype');
}
p, h2, a, button {
  font-family: 'lato', sans-serif;
}
 h1{
    font-family: 'lato-bold', sans-serif;
 }